<!DOCTYPE html>
<html lang="ja">
<head>
    <title>株式会社ツナシマ（東京都文京区）：フォレストPROのユーザーインタビュー</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="フォレストPROをご利用中の株式会社ツナシマ（東京都文京区）の綱島陽介社長に、インタビューにご登場いただきました。「それまで３０分かかっていたメールでの物件提案が５分に短縮。これからの不動産仲介は、IT導入レベルの高さが『お客様からの信頼』に繋がる」とのお話です。">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="株式会社ツナシマ（東京都文京区）：フォレストPROのユーザーインタビュー">
    <meta property="og:url" content="https://forest.openrm.jp/interviews/tsunashima-tokyo-bunkyo/">
    <meta property="og:image" content="https://forest.openrm.jp/assets/images/interviews/pitathouse/preview_tsunashimasan.png">
    <meta property="og:site_name" content="無料帯替えオンラインソフトForest(フォレスト)">
    <meta property="og:description" content="フォレストPROをご利用中の株式会社ツナシマ（東京都文京区）の綱島陽介社長に、インタビューにご登場いただきました。「それまで３０分かかっていたメールでの物件提案が５分に短縮。これからの不動産仲介は、IT導入レベルの高さが『お客様からの信頼』に繋がる」とのお話です。">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ja_JP">

    <link rel="canonical" href="https://forest.openrm.jp/interviews/tsunashima-tokyo-bunkyo/">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese" as="style" media="(min-width: 768px)" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65&l=dataLayer" as="script">
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>&l=dataLayer" as="script">

    <script>
      (function (w, d, s, l) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], dl = '&l=' + l; w.addEventListener('load', function () { z('https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65'); z('https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>'); }); function z (u) { var j = d.createElement(s); j.async = true; j.src = u + dl; f.parentNode.insertBefore(j, f); } })(window, document, 'script', 'dataLayer');
    </script>

    <script>
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GA_MEASUREMENT_ID %>');
    </script>

    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLMWF65" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!--
    Header
-->

<header class="s-header u-row white">

    <div class="bg u-stretch"></div>

    <a id="header-logo" href="/" class="logo">
        <img src="/assets/images/logo-white.svg" alt="フォレストホームページのロゴ">
        <img src="/assets/images/logo-black.svg" alt="フォレストホームページのロゴ">
    </a>

    <a class="menu">
        <svg class="u-stretch" viewBox="0 0 24 24">
            <path d="M7.1,8A1.05,1.05,0,0,0,6,9H6a1.05,1.05,0,0,0,1.1,1H22.9A1.05,1.05,0,0,0,24,9h0a1.05,1.05,0,0,0-1.1-1H7.1ZM0,15a1,1,0,0,0,1,1H23a1,1,0,0,0,0-2H1A1,1,0,0,0,0,15Z"/>
        </svg>
        <svg class="u-stretch" viewBox="0 0 24 24">
            <path d="M12,13.43l6.29,6.29a1,1,0,0,0,1.42-1.42L13.42,12l6.29-6.29A1,1,0,1,0,18.3,4.31h0L12,10.6,5.71,4.31A1,1,0,1,0,4.29,5.67h0L10.58,12,4.29,18.3a1,1,0,0,0,1.42,1.42Z"/>
        </svg>
    </a>

    <nav class="u-flex u-row t6 w5">
        <a id="nav-pricing" class="link left" href="/#pricing">料金</a>
        <!-- <a class="link left">はじめての方へ</a> -->
        <a id="nav-faq" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
        <a id="nav-news" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
        <span class="u-flex"></span>
        <!-- <a class="link right" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db">お問い合わせ</a> -->
        <a id="nav-login-2" class="link right desktop" href="<%= APP_ORIGIN %>/">ログイン</a>
        <div class="u-row right buttons">
            <a id="nav-login" class="btn default mobile" href="<%= APP_ORIGIN %>/">
                <span>ログイン</span>
            </a>
            <a id="nav-signup" class="btn primary" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e">
                <span>無料で使う</span>
            </a>
        </div>
    </nav>

</header>



<main id="main">

    <!--
        Breadcrumb
    -->
    <nav class="breadcrumb">
        <ol>
            <li><a id="breadcrumb-top" href="/">HOME</a></li>
            <li>株式会社ツナシマ（東京都文京区）</li>
        </ol>
    </nav>



    <!--
        Interview
    -->

    <section class="s-interview">
        <h1 class="hidden">物件の仕入れからお客様への提案までをワンストップで改善するフォレストPROを導入しました</h1>

        <!-- heading -->

        <article class="s-interview-heading">
            <img src="/assets/images/interviews/pitathouse/pitathouse-2.webp" alt="">
            <ul class="tags">
                <li>居住用賃貸仲介</li>
                <li>不動産オーナー業</li>
                <li>サービスアパートメント事業</li>
            </ul>
            <p class="note">株式会社ツナシマ 様導入事例</p>
            <h2 class="title">フォレストPROで今まで30分かかっていたメールでの物件提案が5分に短縮し、よりお客様への信頼を得られました</h2>
        </article>


        <!-- summary -->

        <article class="с-summary">

            <img class="с-summary-title" src="/assets/images/summary.svg" alt="">

            <div class="с-summary-nav">
                <a class="active">課題</a>
                <a>解決策</a>
                <a>効果</a>
            </div>

            <div class="с-summary-tab active">
                <div class="с-summary-icon с-summary-icon--1 с-summary-icon--arrow">
                    <h3>課題</h3>
                </div>
                <ul>
                    <li>帯替えや物件図面のメール添付など、煩わしい細かな事務作業にストレスを感じていた</li>
                    <li>スピード対応が求められる繁忙期は、事務作業よりお客様へのフォローに時間を回したい</li>
                    <li>IT導入により営業効率を改善し、顧客満足度を向上したいが、月額利用料は抑えたい</li>
                </ul>
            </div>

            <div class="с-summary-tab">
                <div class="с-summary-icon с-summary-icon--2 с-summary-icon--arrow">
                    <h3>解決策</h3>
                </div>
                <ul>
                    <li>帯替えなどの事務作業をフォレストで高速・自動化</li>
                    <li>クラウド物件提案「お客様ページ」で物件提案にかかる時間を大幅に短縮</li>
                    <li>手軽な月額利用料でお客様から得られる信頼度がアップ</li>
                </ul>
            </div>

            <div class="с-summary-tab">
                <div class="с-summary-icon с-summary-icon--3">
                    <h3>効果</h3>
                </div>
                <ul>
                    <li>30分以上かかっていたメールでの物件提案作業が5分に短縮！</li>
                    <li>帯替えなどの事務作業を自動化することでリソースに余裕ができた！</li>
                    <li>空き時間を接客に回すことでお客様の満足度アップ！</li>
                </ul>
            </div>

        </article>


        <!-- topic 1 -->

        <article class="s-interview-topic">
            <h2>今まで30分かかっていたメールでの物件提案が５分に短縮。空き時間を接客に回すことで、顧客満足にも繋がる</h2>
            <div class="paragraph">
                <h3>ー導入したことで何が変わりましたか？</h3>
                <p>まず、何より物件提案にかかる時間を大幅に短縮できました。フォレスト導入前は、帯替えからメール添付までの一連の工程に平均３０分ほど費やしていたのが、フォレストを導入したことで、わずか５分まで短縮できました。客付がメインの仲介会社にとって、これはとても大きなことです。なぜなら足の速い物件を取り扱う場合、まさにスピードが命だからです。また事務的な業務にかかる時間をできるだけ減らし、空き時間を接客に回すことでお客様の満足度に繋がるとも思います。</p>
            </div>
            <div class="paragraph">
                <h3>ーフォレストをどのように活用されていますか？</h3>
                <p>ご来店されたお客様に後日物件出しを行う際の物件図面の帯替えや「お客様ページ」機能を使ってオンライン上でお客様に物件提案を行う際に活用しています。フォレストPROは、シンプルかつわかりやすいインターフェイスで誰でもすぐに使えます。導入側、お客様側で学習コストが発生しないため、お問い合わせを頂いてから物件提案までをスムーズな流れで行うことができています。</p>
            </div>
            <div class="paragraph">
                <h3>ーフォレストをどのような方にオススメしますか？</h3>
                <p>単純な事務作業にかかる手数を一手でも二手でも減らし、お客様へのフォローに時間を回したいという仲介業者にオススメです。特に 2〜3月などの繁忙期などは、スピードが命なので活躍できるソフトウェアだと思います。</p>
            </div>
            <img src="/assets/images/interviews/pitathouse/pitathouse-5.svg" alt="">
        </article>


        <!-- topic 2 -->

        <article class="s-interview-topic">
            <h2>誰にでもわかりやすいインターフェイスだから社内導入しやすい</h2>
            <div class="paragraph">
                <h3>ー今後の弊社サービス利用についてお聞かせください。</h3>
                <p>現在、社内でアカウント登録しているのはわたしだけですが、今後は、社内共通システムとしての採用も検討しています。PDFをメール添付する従来の古い物件提案の方法から、どのようにフォレストPROでの物件提案に移行するかなどのルール決めを行っている段階です。サポートが必要ないぐらいわかりやすいインターフェイスも社内導入しやすい点だと思います。</p>
            </div>
        </article>


        <!-- topic 3 -->

        <article class="s-interview-topic">
            <h2>手軽な利用料でITレベルの高さを印象付けることができ、お客様から『信頼に足る業者』だと思ってもらえる</h2>
            <div class="paragraph">
                <h3>ー弊社のフォレストは投資に見合うだけの価値がありましたか？</h3>
                <p>はい、投資に見合うだけの価値が充分あります。これからの時代、仲介会社は、いかに高額なポータル費を抑えながら営業を獲得できるかが勝負です。フォレストは、ポータルサイトに支払う物件広告費１件にも満たない金額から毎月利用できます。そんな手軽な利用料で、お客様に当社におけるITレベルが高いことを印象付けることができ、それによってお客様から得られる信頼度も変わってきます。これだけスマホが普及した社会にあるのですから、物件提案もお客様の行動やライフスタイルによりフィットしたかたちであるべきです。まさにフォレストPROは時代に即した付加価値を提供するサービスだと思います。</p>
            </div>
        </article>


        <!-- about -->

        <article class="s-interview-about">
            <h2>株式会社ツナシマ様について</h2>
            <div class="paragraph">
                <p>創業：昭和21年</p>
                <p>業種：居住用賃貸仲介、不動産オーナー業、サービスアパートメント事業ほか</p>
                <p>従業員数：４名</p>
            </div>
            <div class="paragraph">
                <p>インタビュアーからのメッセージ</p>
                <p>従来のやり方に縛られることなく、日々当たり前に行われる業務の中にも常に改善を怠らず、代表自ら先頭に立って、新しい事業の在り方を模索される綱島様には大変感銘を受けました。常にお客様目線で物事を考え、どのように満足していただけるかを求め続ける姿勢こそが、真のビジネスマンとしてのあるべき姿なのではないかと学びました。今後もフォレストPROの更なる改善を通じて、株式会社ツナシマ様のようなお客様に寄り添う不動産会社様の『IT黒子』としてお役に立てるよう努力致します。綱島様、ありがとうございました！</p>
            </div>
        </article>


    </section>



    <!--
        Mission
    -->

    <section class="s-compare-horizontal">
        <div class="header">
            <h2 class="title">まずは無料で体験してみましょう</h2>
            <p class="desc">無料でご利用いただけるプランをご用意しています</p>
        </div>
        <div class="content">
            <div class="card">
                <p class="subtitle w7">業務のお困りごとをまとめて解決！</p>
                <h3 class="title">無料でアカウント作成</h3>
                <p class="desc">メルアド一つからのご登録が可能。<br>
                    初期導入費や追加費用は一切かかりません。</p>
                <div class="button">
                    <a id="section-plans-free-signup" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e" class="btn primary-alt"><span>無料でアカウント作成</span></a>
                </div>
            </div>
            <div class="card">
                <p class="subtitle w7">有料会員ならもっと便利な機能が使い放題</p>
                <h3 class="title">PROプラン(有料)</h3>
                <p class="desc">月額8,000円〜<br>初期導入費やキャンセル費などは<span>一切かかりません。</span></p>
                <div class="button">
                    <a id="section-plans-pro-contact" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a>
                </div>
            </div>
        </div>
        <img class="bg" src="/assets/images/forest_with_animals_no_building.svg" alt="フォレスト">
    </section>

    <section class="s-contact">
        <div class="s-contact-header">
            <p class="t5 w7 cl-green">お問い合わせ</p>
            <h2 class="title">ご相談はこちら</h2>
            <p class="desc">ご質問・ご相談などありましたら、下記までお問い合わせください。<br> 気になる点・ご不明な点・導入準備など、専任のスタッフがご案内いたします。</p>
        </div>
        <div class="s-contact-content">
            <div class="s-contact-part s-contact-part--1">
                <p class="t6">WEBからのお問い合わせ</p>
                <a id="section-contact-web" target="_blank" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" onclick='return contact(event)' class="btn default"><span>お問い合わせフォームへ</span></a>
            </div>
            <div class="s-contact-part s-contact-part--2">
                <p class="t6">お電話からのお問い合わせ</p>
                <p class="phone"><a id="section-contact-phone" href="tel:050-3033-5162">050 - 3033 - 5162</a></p>
                <p class="time">受付時間 10:00 ~ 17:00 （土・日・祝を除きます）</p>
            </div>
        </div>
    </section>

</main>



<!--
    Footer
-->

<footer class="s-footer">

    <div class="info">
        <div>
            <div>
                <img src="/assets/images/forest_logo_white.svg" alt="">
            </div>
            <div class="address">
                <p class="name">株式会社オープンルーム</p>
                <p>東京都渋谷区道玄坂一丁目 2 番 3 号　渋谷フクラス 17 階<br>050 - 3033 - 5162</p>
            </div>
        </div>

        <div>
            <p class="title">フォレストについて</p>
            <div class="column">
                <a id="footer-top" class="link" href="/">トップ</a>
                <br><br><br>
                <a id="footer-faq" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
                <a id="footer-news" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
                <a class="link">お問い合わせ</a>
                <a id="footer-policy" class="link" href="https://openrm.co.jp/policy.html">プライバシーポリシー</a>
                <a id="footer-company" class="link" href="https://openrm.co.jp/">運営会社</a>
            </div>
        </div>

        <div>
            <p class="title">機能</p>
            <div class="column">
                <a id="footer-features-rpa" class="link" href="/features/rpa.html">図面編集・帯替えRPA</a>
                <a id="footer-features-ai-ocr" class="link" href="/features/ai-ocr.html">AI-OCR物件データベース</a>
                <a id="footer-features-share" class="link" href="/features/share.html">お客様専用ページ作成</a>
                <a id="footer-features-activity-feed" class="link" href="/features/customer-logs.html">お客様の行動ログ</a>
                <a id="footer-features-crm" class="link" href="/features/data.html">顧客データベース</a>
                <a id="footer-features-support" class="link" href="/features/support.html">サポート体制</a>
            </div>
        </div>
    </div>


    <div class="copyright">
        <p>Copyright © Open Room inc. All Rights Reserved.</p>
        <a id="footer-company-logo" href="https://openrm.co.jp/">
            <img src="/assets/images/openroom_white_small.svg" alt="Open Room Inc. ロゴ">
        </a>
    </div>

</footer>

    <a id="floating-button" class="contact" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick="return contact(event)">
    <img src="/assets/images/chat.svg" alt="">
    <span>チ<br>ャ<br>ットで相談する</span>
</a>


<!--
    Scripts
-->

<script src="/dist/scripts.js"></script>



</body>
</html>
