<!DOCTYPE html>
<html lang="ja">
<head>
    <title>お客様の行動ログ：不動産業界向け業務改善ツールフォレストPROの機能</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="効率よく追客し、効率よく成約するための機能「お客様の行動ログ」。フォレストPROは、メール開封・物件閲覧履歴などがお客様の行動をウォッチすることを可能にしました。これにより、追客効率を向上させました。">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="不動産業界向け物件広告図面の帯交換ソフト | フォレスト(Forest)">
    <meta property="og:url" content="https://forest.openrm.jp/features/customer-logs.html">
    <meta property="og:image" content="https://forest.openrm.jp/assets/images/og-common.png">
    <meta property="og:site_name" content="無料帯替えオンラインソフトForest(フォレスト)">
    <meta property="og:description" content="効率よく追客し、効率よく成約するための機能「お客様の行動ログ」。フォレストPROは、メール開封・物件閲覧履歴などがお客様の行動をウォッチすることを可能にしました。これにより、追客効率を向上させました。">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">

    <link rel="canonical" href="https://forest.openrm.jp/features/customer-logs.html">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese" as="style" media="(min-width: 768px)" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65&l=dataLayer" as="script">
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>&l=dataLayer" as="script">

    <script>
      (function (w, d, s, l) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], dl = '&l=' + l; w.addEventListener('load', function () { z('https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65'); z('https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>'); }); function z (u) { var j = d.createElement(s); j.async = true; j.src = u + dl; f.parentNode.insertBefore(j, f); } })(window, document, 'script', 'dataLayer');
    </script>

    <script>
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GA_MEASUREMENT_ID %>');
    </script>

    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLMWF65" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!--
        Header
    -->

    <header class="s-header u-row white">

        <div class="bg u-stretch"></div>

        <a id="header-logo" href="/" class="logo">
            <img src="/assets/images/logo-white.svg" alt="フォレストホームページのロゴ">
            <img src="/assets/images/logo-black.svg" alt="フォレストホームページのロゴ">
        </a>

        <a class="menu">
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M7.1,8A1.05,1.05,0,0,0,6,9H6a1.05,1.05,0,0,0,1.1,1H22.9A1.05,1.05,0,0,0,24,9h0a1.05,1.05,0,0,0-1.1-1H7.1ZM0,15a1,1,0,0,0,1,1H23a1,1,0,0,0,0-2H1A1,1,0,0,0,0,15Z"/>
            </svg>
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M12,13.43l6.29,6.29a1,1,0,0,0,1.42-1.42L13.42,12l6.29-6.29A1,1,0,1,0,18.3,4.31h0L12,10.6,5.71,4.31A1,1,0,1,0,4.29,5.67h0L10.58,12,4.29,18.3a1,1,0,0,0,1.42,1.42Z"/>
            </svg>
        </a>

        <nav class="u-flex u-row t6 w5">
            <a id="nav-pricing" class="link left" href="/#pricing">料金</a>
            <!-- <a class="link left">はじめての方へ</a> -->
            <a id="nav-faq" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
            <a id="nav-news" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
            <span class="u-flex"></span>
            <!-- <a class="link right" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db">お問い合わせ</a> -->
            <a id="nav-login" class="link right desktop" href="<%= APP_ORIGIN %>/">ログイン</a>
            <div class="u-row right buttons">
                <a id="nav-login-mobile" class="btn default mobile" href="<%= APP_ORIGIN %>/">
                    <span>ログイン</span>
                </a>
                <a id="nav-signup" class="btn primary" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e">
                    <span>無料で使う</span>
                </a>
            </div>
        </nav>

    </header>



    <main id="main">

        <nav class="breadcrumb">
            <ol>
                <li><a id="breadcrumb-top" href="/">HOME</a></li>
                <li><a id="breadcrumb-pro" href="/products/pro.html">フォレストPRO</a></li>
                <li>お客様の行動ログ</li>
            </ol>
        </nav>


        <section class="s-feature">
            <div class="header">
                <div class="icon"><img src="/assets/images/features/customer-logs/icon.svg" alt=""></div>
                <div class="text">
                    <p class="subtitle">お客様の行動を分析して、効率的な追客を行う！</p>
                    <h1 class="title">
                        お客様の行動ログ
                    </h1>
                </div>
            </div>
        </section>

        <hr>

        <section class="s-multi columns-3">
            <div class="header">
                <p class="subtitle">モチベーションや物件のマッチ度を把握してアプローチ</p>
                <h2 class="title">
                    お客様の反応を見て追客できる
                </h2>
                <p class="desc">
                    効率よく追客し、効率よく成約するための機能「お客様の行動ログ」では、<br>メール開封・物件閲覧履歴などがお客様の行動をウォッチすることができます。
                </p>
            </div>
            <div class="content">
                <div class="item">
                    <img alt="" src="/assets/images/like_200.svg">
                    <p class="title">お客様のモチベーションがわかる</p>
                    <p class="desc">メールの開封や既読・未読のログから、物件を探す傾向や温度感を把握することができます。</p>
                </div>
                <div class="item">
                    <img alt="" src="/assets/images/channels_200.svg">
                    <p class="title">行動をウォッチして追客を効率化</p>
                    <p class="desc">閲覧履歴などからわかるお客様のモチベーションや好みを活かした追客が可能になります！</p>
                </div>
                <div class="item">
                    <img alt="" src="/assets/images/matching_200.svg">
                    <p class="title">スムーズにマッチングできる</p>
                    <p class="desc">お客様の好みや、気になる物件を把握し、スムーズな提案を行えます。</p>
                </div>
            </div>
        </section>

        <div class="s-banner-green">
            <img class="bg" src="/assets/images/forest_empty.svg" alt="">
            <p class="title">便利な機能がもっと使える！PROプランを試してみましょう</p>
            <div class="button">
                <a id="section-pro-contact-us" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a>
            </div>
        </div>

        <section class="s-feature">
            <h2 class="u-sr-only">機能</h2>
            <div class="content">
                <div class="item">
                    <div class="text">
                        <div class="badges">
                            <span class="badge pro">PRO</span><span class="badge pro full">近日公開</span>
                        </div>
                        <h3 class="title">メール送信後のお客様の反応が<br>一目瞭然に！</h3>
                        <p>
                            お客様専用ページなどのフォレストから送付したメールは、メールの開封、リンクをクリックなどのお客様の行動履歴を見ることができます。<br>お客様の反応を把握した上で、次のアクションを考えることができます。
                        </p>
                    </div>
                    <div class="image">
                        <img srcset="/assets/images/features/customer-logs/screenshot-1.webp, /assets/images/features/customer-logs/screenshot-1@2x.webp 2x" alt="" src="/assets/images/features/customer-logs/screenshot-1.webp">
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="badges">
                            <span class="badge pro">PRO</span><span class="badge pro full">近日公開</span>
                        </div>
                        <h3 class="title">お客様の物件ニーズを把握し、<br>マッチする物件を紹介できる！</h3>
                        <p>
                            お客様が「気になる」ボタン機能で物件をブックマークした場合、お知らせを受け取ることができます。<br>お客様専用ページの物件から、好みの物件や詳細を知りたい物件に気軽に「気になる」をクリックしてもらいましょう。
                        </p>
                    </div>
                    <div class="image">
                        <img srcset="/assets/images/features/customer-logs/screenshot-2.webp, /assets/images/features/customer-logs/screenshot-2@2x.webp 2x" alt="" src="/assets/images/features/customer-logs/screenshot-2.webp">
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="badges">
                            <span class="badge pro">PRO</span>
                        </div>
                        <h3 class="title">紹介した物件情報の<br>未読・既読を簡単にチェック！</h3>
                        <p>
                            お客様専用ページに掲載した物件情報は、お客様が閲覧したかどうかを確認できるように、未読・既読のログを見ることが可能です。<br>これにより、お客様のモチベーションや傾向などを把握し、スムーズな追客をすることができます。
                        </p>
                    </div>
                    <div class="image">
                        <img srcset="/assets/images/features/customer-logs/screenshot-3.webp, /assets/images/features/customer-logs/screenshot-3@2x.webp 2x" alt="" src="/assets/images/features/customer-logs/screenshot-3.webp">
                    </div>
                </div>
            </div>
        </section>

        <section class="s-compare-horizontal">
            <div class="header">
                <h2 class="title">まずは無料で体験してみましょう</h2>
                <p class="desc">無料でご利用いただけるプランをご用意しています</p>
            </div>
            <div class="content">
                <div class="card">
                    <p class="subtitle w7">業務のお困りごとをまとめて解決！</p>
                    <h3 class="title">無料でアカウント作成</h3>
                    <p class="desc">メルアド一つからのご登録が可能。<br>
                        初期導入費や追加費用は一切かかりません。</p>
                    <div class="button">
                        <a id="section-plans-free-signup" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e" class="btn primary-alt"><span>無料でアカウント作成</span></a>
                    </div>
                </div>
                <div class="card">
                    <p class="subtitle w7">有料会員ならもっと便利な機能が使い放題</p>
                    <h3 class="title">PROプラン(有料)</h3>
                    <p class="desc">月額8,000円〜<br>初期導入費やキャンセル費などは<span>一切かかりません。</span></p>
                    <div class="button">
                        <a id="section-plans-pro-contact" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a>
                    </div>
                </div>
            </div>
            <img class="bg" src="/assets/images/forest_with_animals_no_building.svg" alt="フォレスト">
        </section>

        <section class="s-contact-medium">
            <div class="header">
                <h2 class="title">お気軽にご相談ください</h2>
                <p class="desc">質問・ご相談などありましたら、下記までお問い合わせください。<br>気になる点・ご不明な点・導入準備など、専任のスタッフが丁寧にご案内いたします。</p>
            </div>
            <div class="content">
                <div class="part1">
                    <p class="title">WEBからのお問い合わせ</p>
                    <div class="button"><a id="section-contact-web" target="_blank" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" onclick='return contact(event)' class="btn default"><span>お問い合わせ</span></a></div>
                </div>
                <div class="part2">
                    <p class="title">お電話からのお問い合わせ</p>
                    <p class="phone"><a id="section-contact-phone" href="tel:050-3033-5162">050 - 3033 - 5162</a></p>
                    <p class="time">受付時間 10:00 ~ 17:00 （土・日・祝を除きます）</p>
                </div>
            </div>
        </section>

    </main>



    <!--
        Footer
    -->

    <footer class="s-footer">

        <div class="info">
            <div>
                <div>
                    <img src="/assets/images/forest_logo_white.svg" alt="">
                </div>
                <div class="address">
                    <p class="name">株式会社オープンルーム</p>
                    <p>東京都渋谷区道玄坂一丁目 2 番 3 号　渋谷フクラス 17 階<br>050 - 3033 - 5162</p>
                </div>
            </div>

            <div>
                <p class="title">フォレストについて</p>
                <div class="column">
                    <a id="footer-top" class="link" href="/">トップ</a>
                    <br><br><br>
                    <a id="footer-faq" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
                    <a id="footer-news" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
                    <a id="footer-contact" class="link" target="_blank" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick='return contact(event)'>お問い合わせ</a>
                    <a id="footer-policy" class="link" href="https://openrm.co.jp/policy.html">プライバシーポリシー</a>
                    <a id="footer-company" class="link" href="https://openrm.co.jp/">運営会社</a>
                </div>
            </div>

            <div>
                <p class="title">機能</p>
                <div class="column">
                    <a id="footer-features-rpa" class="link" href="/features/rpa.html">図面編集・帯替えRPA</a>
                    <a id="footer-features-ai-ocr" class="link" href="/features/ai-ocr.html">AI-OCR物件データベース</a>
                    <a id="footer-features-share" class="link" href="/features/share.html">お客様専用ページ作成</a>
                    <a id="footer-features-activity-feed" class="link" href="/features/customer-logs.html">お客様の行動ログ</a>
                    <a id="footer-features-crm" class="link" href="/features/data.html">顧客データベース</a>
                    <a id="footer-features-support" class="link" href="/features/support.html">サポート体制</a>
                </div>
            </div>
        </div>


        <div class="copyright">
            <p>Copyright © Open Room inc. All Rights Reserved.</p>
            <a id="footer-company-logo" href="https://openrm.co.jp/">
                <img src="/assets/images/openroom_white_small.svg" alt="Open Room Inc. ロゴ">
            </a>
        </div>

    </footer>


    <a class="contact" target="_blank" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick="return contact(event)">
        <img src="/assets/images/chat.svg" alt="">
        <span>チ<br>ャ<br>ットで相談する</span>
    </a>

    <!--
        Scripts
    -->

    <script src="/dist/scripts.js"></script>

</body>
</html>
