section.blog {
    margin: 50px;
    width: 1100px;
    margin: 0 auto;
}

section.blog header h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}

section#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media(max-width: 1100px) {
    section.blog {
        max-width: 80%;
    }

    section.blog header h1 {
        text-align: center;
    }

}