.s-qa {
    padding-top: 78px;
    border-bottom: 1px solid #dfe4e1;
}

.s-qa .header .subtitle {
    font-weight: normal;
    font-size: 16px;
}

.s-qa .header .button a {
    max-width: 280px;
}

.s-qa .content {
    max-width: 1000px;
    margin: auto;
    margin-top: 78px;
    padding-bottom: 80px;
}

.s-qa .content .title {
    font-weight: 700;
    font-size: 32px;
}

.s-qa .content .row {
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid #dfe4e1;
}

.s-qa .content .row:first-child {
    border-top: 1px solid #dfe4e1;
}

.s-qa .content .row .question {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.s-qa .content .row .question::before {
    content: "Q";
    color: #1c9e3b;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
}

.s-qa .content .row .answer {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 20px;
}

.s-qa .content .row a {
    padding-top: 18px;
}


.s-qa .content .tabs {
    display: flex;
    margin-bottom: 60px;
}

.s-qa .content .tabs a {
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    color: #6c776f;
}

.s-qa .content .tabs a:hover {
    color: #1c9e3b;
}

.s-qa .content .tabs a.active {
    color: #1c9e3b;
    font-weight: 700;
    border-bottom: 3px solid #1c9e3b;
}

@media(max-width: 1000px) {
    .s-qa {
        padding-left: 20px;
        padding-right: 20px;
    }
}