.s-contact {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 46px;
}

@media (max-width: 1200px) {
    .s-contact {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.s-contact h1 {
    margin-top: 3px;
    margin-bottom: 12px;
}

@media (max-width: 1200px) {
    .s-contact h1 {
        font-size: 22px;
    }
}

@media (max-width: 1200px) {
    .s-contact .z-description {
        font-size: 14px;
        line-height: 24px;
        color: black;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

/* Contact options */
.s-contact .contact-options {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

@media (max-width: 1200px) {
    .s-contact .contact-options {
        flex-direction: column;
    }
}

/* Web */
.s-contact .contact-options .contact-option-title {
    font-size: 16px;
    line-height: 23px;
    color: #222222;
    margin-bottom: 8px;
}

.s-contact .contact-options .web a.btn.default {
    width: 320px;
    max-width: 90%;
}

/* Divider */
.s-contact .contact-options .divider {
    width: 1px;
    height: 120px;
    background-color: #C8CFCA;
    margin-left: 32px;
    margin-right: 28px;
}

@media (max-width: 1200px) {
    .s-contact .contact-options .divider {
        display: none;
    }
}

@media (max-width: 1200px) {
    .s-contact .contact-options .phone {
        margin-top: 36px;
    }
}

@media (max-width: 1200px) {

}

.s-contact .contact-options .phone .number {
    font-size: 38px;
    line-height: 100%;
    color: #1C9E3B;
}

.s-contact .contact-options .phone .availability {
    font-size: 13px;
    color: #222222;
}
