*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #ffffff;
}
img {
    display: block;
}
h1, h2, h3, h4 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
figure {
    margin: 0;
}
svg {
    fill: currentColor;
}
hr {
    height: 0px;
    border: 1px solid #dfe4e1;
}
