
/*
    Global
*/

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.85; /* ~26px */
    color: #333333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}



/*
    Typography
*/

.t1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
}
.t1 em {
    font-size: 65px;
    font-style: normal;
}
.t2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
}
.t3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
}
.t4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
}
.t5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.t6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.t7 {
    font-size: 14px;
    line-height: 26px;
}

.header {
    text-align: center;
}

.header .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    line-height: 40px;
}
.header .title em {
    color: #1c9e3b;
    font-style: normal;
}
.header .title em.big {
    font-size: 66px;
    line-height: 66px;
}
.header .subtitle {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 20px;
}

.header .desc {
    font-size: 16px;
    line-height: 1.44;
}

@media (max-width: 768px) {
    .header .title {
        font-size: 32px;
        line-height: 1.47;
    }

    .header .desc {
        text-align: left;
    }
}



/*
    Weights
*/

.w4 {
    font-weight: 400;
}
.w5 {
    font-weight: 500;
}
.w7 {
    font-weight: 700;
}



/*
    Styles
*/

.t-underline {
    text-decoration: underline;
}
.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}



/*
    Colors
*/

.cl-black {
    color: #333333;
}
.cl-white {
    color: #ffffff;
}
.cl-red {
    color: #ff7000;
}
.cl-green {
    color: #1c9e3b;
}
.cl-grey {
    color: #808080;
}
.cl-grey-dark {
    color: #97a099;
}
.cl-yellow {
    color: #ffff3f;
}

.link.secondary {
    font-size: 16px;
    font-weight: 700;
}

.link.secondary.inline {
    display: inline-block;
}

.link.secondary.small {
    font-size: 14px;
    font-weight: 500;
}

.link.secondary:hover {
    text-decoration: underline;
}

.link.secondary img {
    display: inline;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 22px;
}



/*
    Zennichi
*/

.z-section-heading {
    font-size: 40px;
    line-height: 135%;
    font-weight: 500;
}

.z-section-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 210%;
    letter-spacing: 0.05em;
    color: #3BA642;
}

.z-description {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #555555;
}



/*
    Mobile
*/

@media (max-width: 768px) {

    .t1-mobile {
        font-size: 42px;
        line-height: 64px;
    }
    .t2-mobile {
        font-size: 27px;
        line-height: 30px;
    }
    .t3-mobile {
        font-size: 24px;
        line-height: 50px;
    }
    .t4-mobile {
        font-size: 22px;
        line-height: 27px;
    }
    .t5-mobile {
        font-size: 18px;
        line-height: 27px;
    }
    .t6-mobile {
        font-size: 16px;
        line-height: 22px;
    }
    .t7-mobile {
        font-size: 14px;
        line-height: 26px;
    }
    .t-center-mobile {
        text-align: center;
    }
    .w4-mobile {
        font-weight: 400;
    }
    .w5-mobile {
        font-weight: 500;
    }
    .w7-mobile {
        font-weight: 700;
    }


}
