/*
    Flex
*/

.u-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.u-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.u-flex {
    flex: 1 0 0;
}



/*
    Float
*/

.u-fl {
    float: left;
}
.u-fr {
    float: right;
}
.u-ff {
    width: auto;
    overflow: hidden;
}
.u-clear:after {
    content: '';
    display: block;
    clear: both;
}



/*
    Devices
*/

.u-mobile {
    display: none;
}
.u-desktop {
    display: block;
}



/*
    Position
*/

.u-stretch {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.u-horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.u-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*
    Mobile
*/

@media (max-width: 1024px) {

    .u-mobile {
        display: block;
    }
    .u-desktop {
        display: none;
    }

}


/*
    Screen Readers
*/

.u-sr-only {
    display: none;
}


.hidden {
    display: none;
}