/*
    Section
*/


.l-section {
    padding: 80rem 40rem;
}
@media (max-width: 768px) {
    .l-section {
        padding: 64rem 24rem;
    }
}



/*
    Containers
*/

.l-container {
    margin: 0 auto;
}
.l-container--lg {
    max-width: 1440px;
}
.l-container--md {
    max-width: 1280px;
}
.l-container--sm {
    max-width: 960px;
}


/*
    Columns
*/

.l-row {
    display: flex;
    align-items: center;
}
.l-column {
    display: flex;
    flex-direction: column;
}
.l-row:not(:last-child) {
    margin-bottom: 64rem;
}
.l-row > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}
.l-row.l-row--revers {
    flex-direction: row-reverse;
}
.l-row:not(.l-row--revers) > *:not(:last-child) {
    margin-right: 20rem;
}
.l-row.l-row--revers > *:not(:last-child) {
    margin-left: 20rem;
}

@media (max-width: 768px) {

    .l-row {
        display: block;
    }
    .l-row > *:not(:last-child) {
        margin-right: 0 !important;
        margin-left: 0 !important;;
        margin-bottom: 24rem;
    }

}



/*
    Responsive
*/

@media (max-width: 768px) {
    .l-desktop {
        display: none !important;
    }
}
@media (min-width: 769px) {
    .l-mobile {
        display: none !important;
    }
}