<!DOCTYPE html>
<html lang="ja">
<head>
    <title>株式会社エリオン（大阪東京の企業向け社宅仲介・管理）‐フォレスト</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="株式会社エリオン様導入事例「物件の仕入れからお客様への提案までをワンストップで改善するフォレストPROを導入しました」">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="株式会社エリオン（大阪東京の企業向け社宅仲介・管理）‐フォレスト">
    <meta property="og:url" content="https://forest.openrm.jp/interviews/elion/">
    <meta property="og:image" content="https://forest.openrm.jp/assets/images/interviews/new/1.jpeg">
    <meta property="og:site_name" content="無料帯替えオンラインソフトForest(フォレスト)">
    <meta property="og:description" content="株式会社エリオン様導入事例「物件の仕入れからお客様への提案までをワンストップで改善するフォレストPROを導入しました」">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ja_JP">

    <link rel="canonical" href="https://forest.openrm.jp/interviews/elion/">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese" as="style" media="(min-width: 768px)" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65&l=dataLayer" as="script">
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>&l=dataLayer" as="script">

    <script>
      (function (w, d, s, l) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], dl = '&l=' + l; w.addEventListener('load', function () { z('https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65'); z('https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>'); }); function z (u) { var j = d.createElement(s); j.async = true; j.src = u + dl; f.parentNode.insertBefore(j, f); } })(window, document, 'script', 'dataLayer');
    </script>

    <script>
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GA_MEASUREMENT_ID %>');
    </script>

    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLMWF65" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!--
        Header
    -->

    <header class="s-header u-row white">

        <div class="bg u-stretch"></div>

        <a id="header-logo" href="/" class="logo">
            <img src="/assets/images/logo-white.svg" alt="フォレストホームページのロゴ">
            <img src="/assets/images/logo-black.svg" alt="フォレストホームページのロゴ">
        </a>

        <a class="menu">
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M7.1,8A1.05,1.05,0,0,0,6,9H6a1.05,1.05,0,0,0,1.1,1H22.9A1.05,1.05,0,0,0,24,9h0a1.05,1.05,0,0,0-1.1-1H7.1ZM0,15a1,1,0,0,0,1,1H23a1,1,0,0,0,0-2H1A1,1,0,0,0,0,15Z"/>
            </svg>
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M12,13.43l6.29,6.29a1,1,0,0,0,1.42-1.42L13.42,12l6.29-6.29A1,1,0,1,0,18.3,4.31h0L12,10.6,5.71,4.31A1,1,0,1,0,4.29,5.67h0L10.58,12,4.29,18.3a1,1,0,0,0,1.42,1.42Z"/>
            </svg>
        </a>

        <nav class="u-flex u-row t6 w5">
            <a id="nav-pricing" class="link left" href="/#pricing">料金</a>
            <!-- <a class="link left">はじめての方へ</a> -->
            <a id="nav-faq" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
            <a id="nav-news" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
            <span class="u-flex"></span>
            <!-- <a class="link right" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db">お問い合わせ</a> -->
            <a id="nav-login-2" class="link right desktop" href="<%= APP_ORIGIN %>/">ログイン</a>
            <div class="u-row right buttons">
                <a id="nav-login" class="btn default mobile" href="<%= APP_ORIGIN %>/">
                    <span>ログイン</span>
                </a>
                <a id="nav-signup" class="btn primary" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e">
                    <span>無料で使う</span>
                </a>
            </div>
        </nav>

    </header>



    <main id="main">

        <!--
            Breadcrumb
        -->
        <nav class="breadcrumb">
            <ol>
                <li><a id="breadcrumb-top" href="/">HOME</a></li>
                <li>株式会社エリオン</li>
            </ol>
        </nav>



        <!--
            Interview
        -->

        <section class="s-interview">
            <h1 class="hidden">物件の仕入れからお客様への提案までをワンストップで改善するフォレストPROを導入しました</h1>
            <!-- heading -->

            <article class="s-interview-heading">
                <picture>
                    <source srcset="/assets/images/interviews/new/1-mob.webp" media="(max-width: 768px)">
                    <img src="/assets/images/interviews/new/1.webp" alt="">
                </picture>
                <ul class="tags">
                    <li>法人向け社宅仲介</li>
                </ul>
                <p class="note">株式会社エリオン 様導入事例</p>
                <h2 class="title">物件の仕入れからお客様への提案までをワンストップで改善するフォレストPROを導入しました</h2>
            </article>


            <!-- summary -->

            <article class="с-summary">
                <img class="с-summary-title" src="/assets/images/summary.svg" alt="">

                <div class="с-summary-nav">
                    <a class="active">課題</a>
                    <a>解決策</a>
                    <a>効果</a>
                </div>

                <div class="с-summary-tab active">
                    <div class="с-summary-icon с-summary-icon--1 с-summary-icon--arrow">
                        <h3>課題</h3>
                    </div>
                    <ul>
                        <li>1回の物件提案に30分近くかかってしまっていた</li>
                        <li>コロナ禍で、テレワーク による仲介営業に迫られた</li>
                        <li>電話・メールを中心としたやりとりが負担になっていた</li>
                    </ul>
                </div>

                <div class="с-summary-tab">
                    <div class="с-summary-icon с-summary-icon--2 с-summary-icon--arrow">
                        <h3>解決策</h3>
                    </div>
                    <ul>
                        <li>帯替えから物件提案までの流れをフォレストで自動化</li>
                        <li>作業環境をオフィスからクラウドに移行</li>
                        <li>お客様ともチャットでリアルタイムに追客営業</li>
                    </ul>
                </div>

                <div class="с-summary-tab">
                    <div class="с-summary-icon с-summary-icon--3">
                        <h3>効果</h3>
                    </div>
                    <ul>
                        <li>30分以上かかっていた作業時間がほぼゼロに！</li>
                        <li>在宅での仲介業務がスムーズに！</li>
                        <li>お客様からも好反応が続出！</li>
                    </ul>
                </div>

            </article>


            <!-- topic 1 -->

            <article class="s-interview-topic">
                <h2>帯替えからメール送信までの物件提案にかける時間を短縮することで、営業の機会損失が減らせる</h2>
                <p class="paragraph">帯替えの効率化、そして業務のリモート化がサービス導入の決め手でした。まず帯替えですが、それまでは何度もコピー機を往復しながら行う手作業が当たり前でした。</p>
                <p class="paragraph">帯替えからメールを送るまでの1回の物件提案にかける時間を30分未満にすることを社内目標にしていましたが、どんなに短くても１件あたり最低20分はかかっていましたね。何とかここを簡略化して、効率化させたかったんです。なぜなら日々の業務の中でも最も手間と時間がかかるにも関わらず、一概に丁寧な帯替えをしたからといって、必ず成約に直結するというわけではないからです。</p>
                <p class="paragraph">また移動の多い春先の繁忙期などは、お客様からのすべての問い合わせに対応しきれず、現場は常に回らない状態で、会社にも多くの機会損失が発生していました。</p>
                <p class="paragraph">フォレストは、そんな面倒な帯替え業務をAIが完全自動化してくれるので、大助かりです。メンバーはみな“<b>もう導入前の業務には戻れない”</b>と言っています。</p>
                <img src="/assets/images/interviews/new/2.webp" alt="">
            </article>


            <!-- topic 2 -->

            <article class="s-interview-topic">
                <h2>コロナ禍での在宅勤務に迫られ、オフィス機器がない環境でもお客様からのお問い合わせにお応えしたい</h2>
                <p class="paragraph">またフォレストの導入によって、オフィスに寄ることなく、外出先からでもリモート営業できるようになったのも画期的です。手元にあるこのノートパソコンもコロナ下での在宅勤務が求められるようになり、会社から急遽支給されたのですが、それもフォレストを導入したことで、リモート営業への道筋が見えたのが決め手でした。</p>
                <p class="paragraph">そもそもテレワークや在宅勤務となった場合、経営陣がまず気にするのが、「経験がまだ浅く、若い営業メンバーが在宅で何ができるのだろう？」ということです。営業は、お客様への物件提案が中心であり、従来この業務はプリンターやスキャナーなどのオフィス設備が完備された環境でないと成立しませんでした。</p>
                <p class="paragraph">また営業は、日中の移動も多いです。仮に遠い他県での内見を夕方に終え、そこからオフィスに戻るとなるとほぼ終業時間 になってしまいます。わざわざ数物件の帯替えとメール１本のためにオフィスに戻らなければならないというストレスは、メンバーの中にもありました。</p>
                <p class="paragraph">しかし、フォレストはクラウド型サービスなので、<b>パソコンとネット環境さえあればいつでもどこでもアクセスでき、時間や場所を選ばずに仲介営業ができます。</b></p>
                <p class="paragraph">わたしもフォレストを使って何度か在宅勤務をしましたが、何らストレスなく物件提案とお客様とのコミュニケーションができています。</p>
            </article>


            <!-- topic 3 -->

            <article class="s-interview-topic">
                <h2>１件あたり３０分かかっていた物件地図の作成時間がゼロに</h2>
                <p class="paragraph">また最近リリースされたばかりの<b>自動での物件マッピング機能は、正直感動しました。</b>なぜなら、ずっとこんなサービスを求めていたからです。</p>
                <p class="paragraph">例えば、学区を限定して物件を探されているお客様の場合ですと、物件提案と一緒に地図を求められます。しかし、地図の準備はまた別の作業になるため、通常と比べると倍ぐらい時間がかかっていました。またお客様側でも地図が見づらいという課題がありました。そこでフォレストの地図機能が登場し、この課題が消えました。</p>
                <img src="/assets/images/interviews/new/3.webp" alt="">
                <p class="paragraph">以前は、Googleマップにあるマイマップ機能を使って、物件の位置にピンを落として登録し、スクリーンショットをお客様に送るというプロセスでした。これを10物件ぐらいに対して行うとゆうに30分はかかっていましたが、今はこの作業が完全に無くなったので、とても助かっています。</p>
                <p class="paragraph">お客様に「この担当者は、ちゃんとやってくれる」と思って頂くためには、<b>マップ付きでの物件提案は必須</b>だと思います。</p>
            </article>


            <!-- topic 4 -->

            <article class="s-interview-topic">
                <h2>サービスの使いやすさから、経験の浅い営業でもすぐ使いこなせる</h2>
                <p class="paragraph">サービス導入によって社内の営業風景は、だいぶ変わりました。まだキャリアの浅い若いメンバーでもスピーディな物件提案が実現できていますし、むしろ営業メンバーは皆どんどんサービスを使いこなせるようになってきています。</p>
                <p class="paragraph">こういったサービスを導入するにあたって、皆さんどうしても気にされるのが慣れた”紙からデジタルへの移行”だと思います。しかしフォレストの場合、サービスの使いやすさからそんな抵抗はありませんでした。</p>
                <p class="paragraph">それまでは、紙の資料をPDFデータにスキャンしてからお客様宛のメールに添付して送り、紙の元資料は、バインダーなどでファイリングして管理していました。もしお客様からの問い合わせを受けたらそのファイルを取りに行って、手元に紙の資料を持った状態でお客様と電話でやりとりをするというのが慣行でした。</p>
                <p class="paragraph">ただし、今はフォレストにログインすれば必要な情報はすべてそこに揃っていますし、お客様からの問い合わせは基本チャットをベースに対応していますので、業務効率は格段に向上しています。お客様もチャットやお気に入りボタンなどを使って気軽に問い合わせや反響を返してくださいます。</p>
                <img src="/assets/images/interviews/new/4.webp" alt="">
                <p class="paragraph"><b>お客様とのコミュニケーションの取りやすさは、格段に改善した</b>と思います。メールによるやり取りですと、文章を構成する手間がお客様にも我々にも発生していました。</p>
                <p class="paragraph">でも敢えて言うと導入したての頃は、長年のクセで無意識のうちにエクセルを開いてしまい、帯替えを数物件やってから「あ〜、やっちゃった、、、」というのは何度かありましたね（笑）</p>
            </article>


            <!-- topic 5 -->

            <article class="s-interview-topic">
                <h2>メール送信時のファイル容量に制限が無くなることで、提案件数・物件数ともにアップ！</h2>
                <p class="paragraph">実際にフォレストを使う中で見えた利便性の一つが、メール送受信時におけるファイル容量の制限です。</p>
                <p class="paragraph">お客様への物件提案では、メール１通あたり多い時で10物件ほどご提案することもあります。しかし、数が多くなると、カラーでスキャンした図面のファイル容量は4MBを超えてしまい、通常のメールサーバーだとほぼ確実に弾かれます。ものによっては、いまだに2MBを超えると弾かれてしまう場合もあります。わかってはいるんですが、作業があまりに面倒なので、ダメ元でもトライしてしまうんですよね。そして、弾かれるという・・・（笑）</p>
                <p class="paragraph">でも、フォレストを利用してからは、この悩みはありません。<br><b>ファイル容量を気にせず、お客様に見合う物件を思う存分ご提案できるようになった</b>のは、とても大きいですね。また紙での印刷が圧倒的に減り、印刷コストの圧縮にも繋がっています。</p>
            </article>


            <!-- about -->

            <article class="s-interview-about">
                <h2>株式会社エリオン様について</h2>
                <div class="paragraph">
                    <p>株式会社エリオン様は、大阪と東京をベースに法人企業様における社宅仲介を専門に手掛ける不動産仲介会社です。</p>
                    <p>上場会社などすでに多くの優良企業を主要顧客として抱え、年齢や家族構成などを問わず、幅広い社宅ニーズに15名の不動産仲介スペシャリストがお客様に寄り添った物件提案を行ってくれます。</p>
                    <p>法人企業様で社宅をお探しの方がおられましたら、ぜひお気軽にお問い合わせください。 </p>
                </div>
            </article>


        </section>



        <!--
            Mission
        -->

        <section class="s-compare-horizontal">
            <div class="header">
                <h2 class="title">まずは無料で体験してみましょう</h2>
                <p class="desc">無料でご利用いただけるプランをご用意しています</p>
            </div>
            <div class="content">
                <div class="card">
                    <p class="subtitle w7">業務のお困りごとをまとめて解決！</p>
                    <h3 class="title">無料でアカウント作成</h3>
                    <p class="desc">メルアド一つからのご登録が可能。<br>
                        初期導入費や追加費用は一切かかりません。</p>
                    <div class="button">
                        <a id="section-plans-free-signup" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e" class="btn primary-alt"><span>無料でアカウント作成</span></a>
                    </div>
                </div>
                <div class="card">
                    <p class="subtitle w7">有料会員ならもっと便利な機能が使い放題</p>
                    <h3 class="title">PROプラン(有料)</h3>
                    <p class="desc">月額8,000円〜<br>初期導入費やキャンセル費などは<span>一切かかりません。</span></p>
                    <div class="button">
                        <a id="section-plans-pro-contact" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a>
                    </div>
                </div>
            </div>
            <img class="bg" src="/assets/images/forest_with_animals_no_building.svg" alt="フォレスト">
        </section>

        <section class="s-contact">
            <div class="s-contact-header">
                <p class="t5 w7 cl-green">お問い合わせ</p>
                <h2 class="title">ご相談はこちら</h2>
                <p class="desc">ご質問・ご相談などありましたら、下記までお問い合わせください。<br> 気になる点・ご不明な点・導入準備など、専任のスタッフがご案内いたします。</p>
            </div>
            <div class="s-contact-content">
                <div class="s-contact-part s-contact-part--1">
                    <p class="t6">WEBからのお問い合わせ</p>
                    <a id="section-contact-web" target="_blank" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" onclick='return contact(event)' class="btn default"><span>お問い合わせフォームへ</span></a>
                </div>
                <div class="s-contact-part s-contact-part--2">
                    <p class="t6">お電話からのお問い合わせ</p>
                    <p class="phone"><a id="section-contact-phone" href="tel:050-3033-5162">050 - 3033 - 5162</a></p>
                    <p class="time">受付時間 10:00 ~ 17:00 （土・日・祝を除きます）</p>
                </div>
            </div>
        </section>

    </main>



    <!--
        Footer
    -->

    <footer class="s-footer">

        <div class="info">
            <div>
                <div>
                    <img src="/assets/images/forest_logo_white.svg" alt="">
                </div>
                <div class="address">
                    <p class="name">株式会社オープンルーム</p>
                    <p>東京都渋谷区道玄坂一丁目 2 番 3 号　渋谷フクラス 17 階<br>050 - 3033 - 5162</p>
                </div>
            </div>

            <div>
                <p class="title">フォレストについて</p>
                <div class="column">
                    <a id="footer-top" class="link" href="/">トップ</a>
                    <br><br><br>
                    <a id="footer-faq" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
                    <a id="footer-news" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
                    <a class="link">お問い合わせ</a>
                    <a id="footer-policy" class="link" href="https://openrm.co.jp/policy.html">プライバシーポリシー</a>
                    <a id="footer-company" class="link" href="https://openrm.co.jp/">運営会社</a>
                </div>
            </div>

            <div>
                <p class="title">機能</p>
                <div class="column">
                    <a id="footer-features-rpa" class="link" href="/features/rpa.html">図面編集・帯替えRPA</a>
                    <a id="footer-features-ai-ocr" class="link" href="/features/ai-ocr.html">AI-OCR物件データベース</a>
                    <a id="footer-features-share" class="link" href="/features/share.html">お客様専用ページ作成</a>
                    <a id="footer-features-activity-feed" class="link" href="/features/customer-logs.html">お客様の行動ログ</a>
                    <a id="footer-features-crm" class="link" href="/features/data.html">顧客データベース</a>
                    <a id="footer-features-support" class="link" href="/features/support.html">サポート体制</a>
                </div>
            </div>
        </div>


        <div class="copyright">
            <p>Copyright © Open Room inc. All Rights Reserved.</p>
            <a id="footer-company-logo" href="https://openrm.co.jp/">
                <img src="/assets/images/openroom_white_small.svg" alt="Open Room Inc. ロゴ">
            </a>
        </div>

    </footer>

    <a class="contact" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick="return contact(event);">
        <img src="/assets/images/chat.svg" alt="">
        <span>チ<br>ャ<br>ットで相談する</span>
    </a>


    <!--
        Scripts
    -->

    <script src="/dist/scripts.js"></script>



</body>
</html>
