<!DOCTYPE html>
<html lang="ja">
<head>
    <title>フォレストFREE：完全無料の不動産業界向け物件広告図面の帯交換ソフト</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="フォレストFREEは、オビ替え機能を完全無料でご利用いただけます。オビ替えの手順は、３STEPです。「図面をドラッグ＆ドロップ」「切り取り箇所を指定」「自社オビを貼り付け」。また、会社情報を登録いただくだけで帯データが作成されます。">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="フォレストFREE：完全無料の不動産業界向け物件広告図面の帯交換ソフト">
    <meta property="og:url" content="https://forest.openrm.jp/products/free.html">
    <meta property="og:image" content="https://forest.openrm.jp/assets/images/og-common.png">
    <meta property="og:site_name" content="無料帯替えオンラインソフトForest(フォレスト)">
    <meta property="og:description" content="フォレストFREEは、オビ替え機能を完全無料でご利用いただけます。オビ替えの手順は、３STEPです。「図面をドラッグ＆ドロップ」「切り取り箇所を指定」「自社オビを貼り付け」。また、会社情報を登録いただくだけで帯データが作成されます。">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">

    <link rel="canonical" href="https://forest.openrm.jp/products/free.html">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese" as="style" media="(min-width: 768px)" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65&l=dataLayer" as="script">
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>&l=dataLayer" as="script">

    <script>
      (function (w, d, s, l) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], dl = '&l=' + l; w.addEventListener('load', function () { z('https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65'); z('https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>'); }); function z (u) { var j = d.createElement(s); j.async = true; j.src = u + dl; f.parentNode.insertBefore(j, f); } })(window, document, 'script', 'dataLayer');
    </script>

    <script>
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GA_MEASUREMENT_ID %>');
    </script>

    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLMWF65" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!--
        Header
    -->

    <header class="s-header u-row white">

        <div class="bg u-stretch"></div>

        <a id="header-logo" href="/" class="logo">
            <img src="/assets/images/logo-white.svg" alt="フォレストホームページのロゴ">
            <img src="/assets/images/logo-black.svg" alt="フォレストホームページのロゴ">
        </a>

        <a class="menu">
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M7.1,8A1.05,1.05,0,0,0,6,9H6a1.05,1.05,0,0,0,1.1,1H22.9A1.05,1.05,0,0,0,24,9h0a1.05,1.05,0,0,0-1.1-1H7.1ZM0,15a1,1,0,0,0,1,1H23a1,1,0,0,0,0-2H1A1,1,0,0,0,0,15Z"/>
            </svg>
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M12,13.43l6.29,6.29a1,1,0,0,0,1.42-1.42L13.42,12l6.29-6.29A1,1,0,1,0,18.3,4.31h0L12,10.6,5.71,4.31A1,1,0,1,0,4.29,5.67h0L10.58,12,4.29,18.3a1,1,0,0,0,1.42,1.42Z"/>
            </svg>
        </a>

        <nav class="u-flex u-row t6 w5">
            <a id="nav-pricing" class="link left" href="/#pricing">料金</a>
            <!-- <a class="link left">はじめての方へ</a> -->
            <a id="nav-faq" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
            <a id="nav-news" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
            <span class="u-flex"></span>
            <!-- <a class="link right" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db">お問い合わせ</a> -->
            <a id="nav-login" class="link right desktop" href="<%= APP_ORIGIN %>/">ログイン</a>
            <div class="u-row right buttons">
                <a id="nav-login-mobile" class="btn default mobile" href="<%= APP_ORIGIN %>/">
                    <span>ログイン</span>
                </a>
                <a id="nav-signup" class="btn primary" href="/">
                    <span>サービス詳細</span>
                </a>
            </div>
        </nav>

    </header>



    <main id="main">

        <nav class="breadcrumb">
            <ol>
                <li><a id="breadcrumb-top" href="/">HOME</a></li>
                <li>フォレストFREE</li>
            </ol>
        </nav>

        <section class="s-intro-simple">
            <div class="content">
                <p class="desc">完全無料で、オビ交換を爆速にする！</p>
                <h1 class="title">フォレストFREE</h1>
                <img class="mobile" src="/assets/images/products/free-small.webp" alt="">
                <div class="button"><a id="section-intro-signup" class="btn primary" href="/"><span>サービス詳細をみる</span></a></div>
                <p class="title">フォレストFREEとは？</p>
                <p class="desc">フォレストFREEは、オビ替え機能を完全無料でご利用いただけるプランです。面倒なオビ替えをスピーディーに行えるFREEプランで、フォレストの効果を体験してください！</p>
            </div>
            <picture>
              <source
                    srcset="/assets/images/products/free-full.webp 1200w,
                        /assets/images/products/free-cut.webp 800w,
                        /assets/images/products/free-cut-2x.webp 1600w"

                    sizes="(max-width: 1800px) 800px,
                            1200px"
                    type="image/png">
                <img class="desktop" src="/assets/images/products/free-cut.webp" alt="">
            </picture>
        </section>

        <section class="s-multi columns-3">
            <div class="header">
                <h2 class="title">図面編集・帯替え機能を無料で使える</h2>
                <h3 class="subtitle">かんたん3ステップでオビ交換ができる</h3>
                <p class="desc">フォレストでは、不動産業界の業務を効率化させるため、オビ替えが簡単に行える図面編集・帯替え機能を<br>完全無料のFREEプランとして提供しています！</p>
            </div>
            <div class="content">
                <div class="item">
                    <img class="large" alt="" src="/assets/images/drop_with_border.svg">
                    <p class="title t-left">STEP 1</p>
                    <p class="subtitle t-left">図面をドラッグ＆ドロップ</p>
                    <p class="desc">フォレストに図面をドラッグ＆ドロップするだけで読み込み完了。PDF, JPG, PNG. GIFに対応。</p>
                </div>
                <div class="item">
                    <img class="large" alt="" src="/assets/images/cut_with_border.svg">
                    <p class="title t-left">STEP 2</p>
                    <p class="subtitle t-left">切り取り箇所を指定する</p>
                    <p class="desc">図面広告にある他社の会社情報を選択し、切り取ることができます。</p>
                </div>
                <div class="item">
                    <img class="large" alt="" src="/assets/images/banner_with_border.svg">
                    <p class="title t-left">STEP 3</p>
                    <p class="subtitle t-left">自社オビを貼り付けて完了！</p>
                    <p class="desc">配置したい場所にオビを配置して完了！図面はダウンロードしてご利用いただけます。</p>
                </div>
            </div>
        </section>

        <section class="s-multi columns-3">
            <div class="header">
                <h2 class="title">FREEで使える便利な機能</h2>
                <p class="desc">FREEプランでは、オビ替えに関わる便利な機能も完全無料でご利用いただけます。
ぜひご活用ください。</p>
            </div>
            <div class="content">
                <div class="item">
                    <a id="section-features-rpa-replace" href="/features/rpa.html#replace">
                        <img alt="" src="/assets/images/banner_replace_200.svg">
                        <p class="title">オビ替え機能</p>
                        <p class="desc">図面広告の他社会社情報を選択し、切取り・編集を行い、自社オビに替えることができます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-rpa-text" href="/features/rpa.html#text">
                        <img alt="" src="/assets/images/obi_text.svg">
                        <p class="title">図面にテキストを追加できる</p>
                        <p class="desc">図面の切り取りだけでなく、テキストを追加・配置することができます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-ai-ocr-keywords" href="/features/ai-ocr.html#keywords">
                        <img alt="" src="/assets/images/keyword_search.svg">
                        <p class="title">図面をキーワード検索</p>
                        <p class="desc">アップロードした図面を、一覧からキーワード検索で探すことができます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-rpa-banner" href="/features/rpa.html#banner">
                        <img alt="" src="/assets/images/banner_upload.svg">
                        <p class="title">自社帯画像アップロード</p>
                        <p class="desc">普段お使いの自社の帯画像をドラッグ&ドロップでアップロードし、ご利用いただけます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-rpa-ratios" href="/features/rpa.html#ratios">
                        <img alt="" src="/assets/images/original.svg">
                        <p class="title">オリジナル帯作成</p>
                        <p class="desc">会社情報を入力するだけで、3サイズに対応したオリジナルのオビを作成できます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-support-chat" href="/features/support.html#chat">
                        <img alt="" src="/assets/images/support_email.svg">
                        <p class="title">チャットサポート</p>
                        <p class="desc">ご不明点等はチャットでお気軽にお問い合わせいただけます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
            </div>
        </section>

        <div class="s-banner-green">
            <img class="bg" src="/assets/images/forest_empty.svg" alt="">
            <p class="title">便利な機能がもっと使える！PROプランを試してみましょう</p>
            <div class="button">
                <a id="section-plans-pro-contact" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a>
            </div>
        </div>

        <section class="s-contact-medium">
            <div class="header">
                <h2 class="title">お気軽にご相談ください</h2>
                <p class="desc">質問・ご相談などありましたら、下記までお問い合わせください。<br>気になる点・ご不明な点・導入準備など、専任のスタッフが丁寧にご案内いたします。</p>
            </div>
            <div class="content">
                <div class="part1">
                    <p class="title">WEBからのお問い合わせ</p>
                    <div class="button"><a id="section-contact-web" target="_blank" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" onclick='return contact(event)' class="btn default"><span>お問い合わせ</span></a></div>
                </div>
                <div class="part2">
                    <p class="title">お電話からのお問い合わせ</p>
                    <p class="phone"><a id="section-contact-phone" href="tel:050-3033-5162">050 - 3033 - 5162</a></p>
                    <p class="time">受付時間 10:00 ~ 17:00 （土・日・祝を除きます）</p>
                </div>
            </div>
        </section>
    </main>



    <!--
        Footer
    -->

    <footer class="s-footer">

        <div class="info">
            <div>
                <div>
                    <img src="/assets/images/forest_logo_white.svg" alt="">
                </div>
                <div class="address">
                    <p class="name">株式会社オープンルーム</p>
                    <p>東京都渋谷区道玄坂一丁目 2 番 3 号　渋谷フクラス 17 階<br>050 - 3033 - 5162</p>
                </div>
            </div>

            <div>
                <p class="title">フォレストについて</p>
                <div class="column">
                    <a id="footer-top" class="link" href="/">トップ</a>
                    <br><br><br>
                    <a id="footer-faq" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
                    <a id="footer-news" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
                    <a id="footer-contact" class="link" target="_blank" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick='return contact(event)'>お問い合わせ</a>
                    <a id="footer-policy" class="link" href="https://openrm.co.jp/policy.html">プライバシーポリシー</a>
                    <a id="footer-company" class="link" href="https://openrm.co.jp/">運営会社</a>
                </div>
            </div>

            <div>
                <p class="title">機能</p>
                <div class="column">
                    <a id="footer-features-rpa" class="link" href="/features/rpa.html">図面編集・帯替えRPA</a>
                    <a id="footer-features-ai-ocr" class="link" href="/features/ai-ocr.html">AI-OCR物件データベース</a>
                    <a id="footer-features-share" class="link" href="/features/share.html">お客様専用ページ作成</a>
                    <a id="footer-features-activity-feed" class="link" href="/features/customer-logs.html">お客様の行動ログ</a>
                    <a id="footer-features-crm" class="link" href="/features/data.html">顧客データベース</a>
                    <a id="footer-features-support" class="link" href="/features/support.html">サポート体制</a>
                </div>
            </div>
        </div>


        <div class="copyright">
            <p>Copyright © Open Room inc. All Rights Reserved.</p>
            <a id="footer-company-logo" href="https://openrm.co.jp/">
                <img src="/assets/images/openroom_white_small.svg" alt="Open Room Inc. ロゴ">
            </a>
        </div>

    </footer>


    <a id="floating-button" class="contact" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick="return contact(event)">
        <img src="/assets/images/chat.svg" alt="">
        <span>チ<br>ャ<br>ットで相談する</span>
    </a>

    <!--
        Scripts
    -->

    <script src="/dist/scripts.js"></script>

</body>
</html>
