<!DOCTYPE html>
<html lang="ja">
<head>
    <title>フォレストPRO： AI-OCR搭載の不動産業界向け業務改善ツール</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="機能が充実したプレミアム有料プランです。主に３つの機能を持っています。「お客様へのメール送信機能」「お客様専用ページ」「AI−OCRと呼ぶテキストの自動変換」。個々の物件案内履歴を自動的にデータベース化することで、不動産仲介業務を劇的に効率化します。">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="フォレストPRO： AI-OCR搭載の不動産業界向け業務改善ツール">
    <meta property="og:url" content="https://forest.openrm.jp/products/pro.html">
    <meta property="og:image" content="https://forest.openrm.jp/assets/images/og-common.png">
    <meta property="og:site_name" content="無料帯替えオンラインソフトForest(フォレスト)">
    <meta property="og:description" content="機能が充実したプレミアム有料プランです。主に３つの機能を持っています。「お客様へのメール送信機能」「お客様専用ページ」「AI−OCRと呼ぶテキストの自動変換」。個々の物件案内履歴を自動的にデータベース化することで、不動産仲介業務を劇的に効率化します。。">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">

    <link rel="canonical" href="https://forest.openrm.jp/products/pro.html">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese" as="style" media="(min-width: 768px)" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65&l=dataLayer" as="script">
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>&l=dataLayer" as="script">

    <script>
      (function (w, d, s, l) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], dl = '&l=' + l; w.addEventListener('load', function () { z('https://www.googletagmanager.com/gtm.js?id=GTM-KLMWF65'); z('https://www.googletagmanager.com/gtag/js?id=<%= GA_MEASUREMENT_ID %>'); }); function z (u) { var j = d.createElement(s); j.async = true; j.src = u + dl; f.parentNode.insertBefore(j, f); } })(window, document, 'script', 'dataLayer');
    </script>

    <script>
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GA_MEASUREMENT_ID %>');
    </script>

    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLMWF65" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!--
        Header
    -->

    <header class="s-header u-row white">

        <div class="bg u-stretch"></div>

        <a id="header-logo" href="/" class="logo">
            <img src="/assets/images/logo-white.svg" alt="フォレストホームページのロゴ">
            <img src="/assets/images/logo-black.svg" alt="フォレストホームページのロゴ">
        </a>

        <a class="menu">
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M7.1,8A1.05,1.05,0,0,0,6,9H6a1.05,1.05,0,0,0,1.1,1H22.9A1.05,1.05,0,0,0,24,9h0a1.05,1.05,0,0,0-1.1-1H7.1ZM0,15a1,1,0,0,0,1,1H23a1,1,0,0,0,0-2H1A1,1,0,0,0,0,15Z"/>
            </svg>
            <svg class="u-stretch" viewBox="0 0 24 24">
                <path d="M12,13.43l6.29,6.29a1,1,0,0,0,1.42-1.42L13.42,12l6.29-6.29A1,1,0,1,0,18.3,4.31h0L12,10.6,5.71,4.31A1,1,0,1,0,4.29,5.67h0L10.58,12,4.29,18.3a1,1,0,0,0,1.42,1.42Z"/>
            </svg>
        </a>

        <nav class="u-flex u-row t6 w5">
            <a id="nav-pricing" class="link left" href="/#pricing">料金</a>
            <!-- <a class="link left">はじめての方へ</a> -->
            <a id="nav-faq" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
            <a id="nav-news" class="link left" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
            <span class="u-flex"></span>
            <!-- <a class="link right" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db">お問い合わせ</a> -->
            <a id="nav-login" class="link right desktop" href="<%= APP_ORIGIN %>/">ログイン</a>
            <div class="u-row right buttons">
                <a id="nav-login-mobile" class="btn default mobile" href="<%= APP_ORIGIN %>/">
                    <span>ログイン</span>
                </a>
                <a id="nav-signup" class="btn primary" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e">
                    <span>無料で使う</span>
                </a>
            </div>
        </nav>

    </header>



    <main id="main">

        <nav class="breadcrumb">
            <ol>
                <li><a id="breadcrumb-top" href="/">HOME</a></li>
                <li>フォレストPRO</li>
            </ol>
        </nav>

        <section class="s-intro-simple">
            <div class="content">
                <p class="desc">機能が充実したプレミアム有料プランのご紹介</p>
                <h1 class="title">フォレストPRO</h1>
                <img class="mobile" src="/assets/images/products/pro-small.webp" alt="">
                <div class="button"><a id="section-intro-contact-us" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a></div>
                <p class="title">フォレストPROとは？</p>
                <p class="desc">フォレストPROは、不動産業界の業務をもっと効率的にするために生まれたプレミアムプランです。<br>より充実した機能をご利用いただけます。</p>
            </div>
            <picture>
              <source
                    srcset="/assets/images/products/pro-cut-2x.webp 1600w,
                            /assets/images/products/pro-full.webp 1200w,
                            /assets/images/products/pro-cut.webp 800w"
                    sizes="(max-width: 1800px) 800px,
                            1200px"
                    type="image/png">
                <img class="desktop" src="/assets/images/products/pro-cut.webp" alt="">
            </picture>
        </section>

        <section class="s-news-band">
            <h2>
                <a id="section-news-rpa" href="/features/rpa.html">
                    <span class="new">NEW</span><span>PROに新機能<em>AI自動帯替え</em>機能が追加されました。</span>
                </a>
            </h2>
        </section>

        <section class="s-multi columns-3">
            <div class="header">
                <h2 class="title">フォレストPROの<em class="big">3</em><em>つ</em>のポイント</h2>
                <p class="subtitle">導入すると、不動産業界の業務を10倍ラクにする効率化ツール</p>
                <p class="desc">最新技術を使って、不動産業界の働き方を変える機能が充実。<br>圧倒的に効率化し、売上・企業成長を加速させていきます！</p>
            </div>
            <div class="content">
                <div class="item">
                    <img alt="" class="icon" src="/assets/images/icon_text.svg">
                    <p class="point"><em>POINT 1</em> テキストをデータ化！</p>
                    <p class="title smaller">AI-OCRでテキスト入力がなくなり、<br>コピー&ペーストで作業完了！</p>
                    <p class="desc">図面を読み込ませると、自動で文字認識を行い電子テキスト化することができます。</p>
                </div>
                <div class="item">
                    <img alt="" class="icon" src="/assets/images/icon_distribute.svg">
                    <p class="point"><em>POINT 2</em> 物件提案がスマートに</p>
                    <p class="title smaller">お客様への物件情報の送付が大幅に時短する、共有機能！</p>
                    <p class="desc">お客様への物件情報の送付は、各お客様の専用ページを作成し、アップロードして完了！</p>
                </div>
                <div class="item">
                    <img alt="" class="icon" src="/assets/images/icon_teamwork.svg">
                    <p class="point"><em>POINT 3</em> 店舗内の連携を強化！</p>
                    <p class="title smaller">スムーズな情報共有によって、店舗内の連携を活性化させる！</p>
                    <p class="desc">オビ替えした図面やお客様情報・希望条件等が店舗内で共有できます。</p>
                </div>
            </div>
        </section>

        <section class="s-multi columns-3">
            <div class="header">
                <h2 class="title">フォレストPROの機能</h2>
                <p class="subtitle">業務を効率化させる機能の紹介</p>
                <p class="desc">フォレストPROでは不動産業界に特化した便利な機能で、御社の追客業務をよりスマートに変えていきます！</p>
            </div>
            <div class="content">
                <div class="item">
                    <a id="section-features-rpa" href="/features/rpa.html">
                        <img alt="" src="/assets/images/rpa_250.svg">
                        <p class="title">図面編集・帯替えRPA機能</p>
                        <p class="desc">図面広告の他社会社情報を選択し、切取り・編集を行い、自社オビに替えることができます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-share" href="/features/share.html">
                        <img alt="" src="/assets/images/distribute.svg">
                        <p class="title">お客様専用ページ作成機能</p>
                        <p class="desc">お客様の専用ページを作成し、紹介する物件をまとめて管理することができます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-ai-ocr" href="/features/ai-ocr.html">
                        <img alt="" src="/assets/images/text_search.svg">
                        <p class="title">AI-OCR物件データベース</p>
                        <p class="desc">紙の物件情報を自動でデータ化し、御社独自のデータベースに変わります！</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-activity-feed" href="/features/customer-logs.html">
                        <img alt="" src="/assets/images/channels.svg">
                        <p class="title">お客様の行動ログ</p>
                        <p class="desc">メール開封・物件閲覧履歴などがお客様の行動をウォッチすることができます。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="section-features-crm" href="/features/data.html">
                        <img alt="" src="/assets/images/contacts.svg">
                        <p class="title">顧客データベース</p>
                        <p class="desc">お客様のデータを一元管理し、スムーズな情報共有・連携を行います。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
                <div class="item">
                    <a id="sections-features-support" href="/features/support.html">
                        <img alt="" src="/assets/images/support_email.svg">
                        <p class="title">サポート体制</p>
                        <p class="desc">安心してご利用いただけるように充実したサポートをご用意しています。</p>
                        <span class="link secondary cl-green small"><img src="/assets/images/big-arr-right.svg" alt="">詳しくはコチラから</span>
                    </a>
                </div>
            </div>
        </section>

        <section class="s-compare-horizontal">
            <div class="header">
                <h2 class="title">まずは無料で体験してみましょう</h2>
                <p class="desc">無料でご利用いただけるプランをご用意しています</p>
            </div>
            <div class="content">
                <div class="card">
                    <p class="subtitle w7">業務のお困りごとをまとめて解決！</p>
                    <h3 class="title">無料でアカウント作成</h3>
                    <p class="desc">メルアド一つからのご登録が可能。<br>
                        初期導入費や追加費用は一切かかりません。</p>
                    <div class="button">
                        <a id="section-plans-free-signup" href="<%= LOGIN_ORIGIN %>/signup?app_id=01e2f21e-db9f-45f2-891f-6ec62f4e9d4e" class="btn primary-alt"><span>無料でアカウント作成</span></a>
                    </div>
                </div>
                <div class="card">
                    <p class="subtitle w7">有料会員ならもっと便利な機能が使い放題</p>
                    <h3 class="title">PROプラン(有料)</h3>
                    <p class="desc">月額5,830円〜<br>初期導入費やキャンセル費などは<span>一切かかりません。</span></p>
                    <div class="button">
                        <a id="section-plans-pro-contact" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" class="btn primary" target="_blank"><span>資料請求をする(無料)</span></a>
                    </div>
                </div>
            </div>
            <img class="bg" src="/assets/images/forest_with_animals_no_building.svg" alt="フォレスト">
        </section>

        <section class="s-contact-medium">
            <div class="header">
                <h2 class="title">お気軽にご相談ください</h2>
                <p class="desc">質問・ご相談などありましたら、下記までお問い合わせください。<br>気になる点・ご不明な点・導入準備など、専任のスタッフが丁寧にご案内いたします。</p>
            </div>
            <div class="content">
                <div class="part1">
                    <p class="title">WEBからのお問い合わせ</p>
                    <div class="button"><a id="section-contact-web" target="_blank" href="https://ie.nativeforms.com/smRK5UPmZSbvh3ZkhmZp1Db" onclick='return contact(event)' class="btn default"><span>お問い合わせ</span></a></div>
                </div>
                <div class="part2">
                    <p class="title">お電話からのお問い合わせ</p>
                    <p class="phone"><a id="section-contact-phone" href="tel:050-3033-5162">050 - 3033 - 5162</a></p>
                    <p class="time">受付時間 10:00 ~ 17:00 （土・日・祝を除きます）</p>
                </div>
            </div>
        </section>
    </main>



    <!--
        Footer
    -->

    <footer class="s-footer">

        <div class="info">
            <div>
                <div>
                    <img src="/assets/images/forest_logo_white.svg" alt="">
                </div>
                <div class="address">
                    <p class="name">株式会社オープンルーム</p>
                    <p>東京都渋谷区道玄坂一丁目 2 番 3 号　渋谷フクラス 17 階<br>050 - 3033 - 5162</p>
                </div>
            </div>

            <div>
                <p class="title">フォレストについて</p>
                <div class="column">
                    <a id="footer-top" class="link" href="/">トップ</a>
                    <br><br><br>
                    <a id="footer-faq" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/5665361026329">よくあるご質問</a>
                    <a id="footer-news" class="link" target="_blank" href="https://help.openrm.jp/hc/ja/categories/6953458555417">お知らせ</a>
                    <a id="footer-contact" class="link" target="_blank" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick='return contact(event)'>お問い合わせ</a>
                    <a id="footer-policy" class="link" href="https://openrm.co.jp/policy.html">プライバシーポリシー</a>
                    <a id="footer-company" class="link" href="https://openrm.co.jp/">運営会社</a>
                </div>
            </div>

            <div>
                <p class="title">機能</p>
                <div class="column">
                    <a id="footer-features-rpa" class="link" href="/features/rpa.html">図面編集・帯替えRPA</a>
                    <a id="footer-features-ai-ocr" class="link" href="/features/ai-ocr.html">AI-OCR物件データベース</a>
                    <a id="footer-features-share" class="link" href="/features/share.html">お客様専用ページ作成</a>
                    <a id="footer-features-activity-feed" class="link" href="/features/customer-logs.html">お客様の行動ログ</a>
                    <a id="footer-features-crm" class="link" href="/features/data.html">顧客データベース</a>
                    <a id="footer-features-support" class="link" href="/features/support.html">サポート体制</a>
                </div>
            </div>
        </div>


        <div class="copyright">
            <p>Copyright © Open Room inc. All Rights Reserved.</p>
            <a id="footer-company-logo" href="https://openrm.co.jp/">
                <img src="/assets/images/openroom_white_small.svg" alt="Open Room Inc. ロゴ">
            </a>
        </div>

    </footer>


    <a id="floating-button" class="contact" href="https://ie.nativeforms.com/qhXZilzNiJXPmZSbvh3ZkhmZp1Db" onclick="return contact(event)">
        <img src="/assets/images/chat.svg" alt="">
        <span>チ<br>ャ<br>ットで相談する</span>
    </a>

    <!--
        Scripts
    -->

    <script src="/dist/scripts.js"></script>

</body>
</html>
